<aside class="w-48 bg-white m-4 p-6 transition-all duration-300">
    <div class="flex items-center justify-between cursor-pointer group mb-4"
         (click)="isHide = !isHide">
        <p class="font-mono text-xs font-medium tracking-widest text-rose-900 uppercase">
            {{ typeMenu }}
        </p>
        <div class="flex items-center transition-transform duration-300 w-5 h-5 text-rose-900"
             [class.rotate-180]="!isHide">
            <span class="material-symbols-outlined text-[18px]">expand_more</span>
        </div>
    </div>
    <nav class="overflow-hidden transition-all" [hidden]="isHide">
        <ul role="list" class="flex flex-col border-l border-gray-100 ml-0.5">
            <li *ngFor="let item of menuItems; trackBy: trackByMenu" class="-ml-px">
                <app-menu-item
                        [name]="item"
                        [typeMenu]="typeMenu"
                        class="block border-l border-transparent pl-2 py-0.2 text-sm text-gray-600
                           hover:border-rose-600 hover:text-rose-800 transition-all duration-200">
                </app-menu-item>
            </li>
        </ul>
    </nav>
</aside>
